{{ define "main" }}
<main class="post">

   <!-- <div class="container-fluid header px-0">
    {{ with .Params.Image }}
    <img class="post-cover" src="{{ . }}" />
    {{ end }}
    <div class="white-block"></div>
    </div>-->

    <div class="container-fluid move-up">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5 cutoff">
                    <article>
                    

                      

                    <!-- <h1 class="post-title">{{ .Title | markdownify }}</h1>

                        <p>by 
                        
                            <a class="text-decoration-none" href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer">{{ .Params.authors }}</a>
                        
                        

                            <span class="ms-5">{{ i18n "readingTime" .Page.ReadingTime }}</span><span class="ms-5">{{ i18n "wordCount" .Page.WordCount }}</span>
                            {{- with .Params.categories }}
                            
                                {{- range . -}}
                                <span class="categories"><a class="text-decoration-none" href="{{ "/categories/" | absLangURL }}{{ . | urlize }}"> {{.}}  </a></span>
                                {{- end }}
                            
                            {{- end }}
                        </p>-->

                        {{- if .Params.toc }}
                        <hr />
                        <aside id="toc">
                            <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                            {{ .TableOfContents }}
                        </aside>
                        <hr />
                        {{- end }}
                
                        <div class="post-content pe-3">
                           
                            <div class="info row w-75 py-3 mb-3">
                                <div class="col-12"><p class="d-inline job-type px-3 mb-1">{{ .Params.Job_type }}</p></div>
                                <div class="col-12 py-1">
                                    <!-- <img src="{{ .Site.BaseURL }}/img/svg/tag.svg" alt="" class="pe-1 job-icons">
                                    {{- with .Params.tags }} 
                                        {{- range . -}}
                                        {{.}}&nbsp;
                                        {{- end }}
                                    {{- end }} -->
                                    <img src="{{ .Site.BaseURL }}/img/svg/location.svg" alt="" class="pe-1 job-icons"> {{ .Params.Location}}
                                </div>   
                            
                                <div class="col-12 py-1"> <img src="{{ .Site.BaseURL }}/img/svg/calendar.svg" alt="" class="pe-1 job-icons2" >{{ i18n "closingOn" }}  {{ .Params.Close_date }}</div>
                            </div>
                            

                            {{ $content := .Content }}
                            {{ $content | safeHTML }}
                        </div>                       
                    </article>

       <!-- <div class="post-info">
            {{- with .Params.tags }}
            <p>
                {{- range . -}}
                <span class="tag"><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>
                {{- end }}
            </p>
            {{- end }}
    
    
            <p>{{ i18n "publishDate" . }}
                {{ if .Site.Params.dateformNumTime }}<time datetime="{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}">{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}</time>{{ else }}<time datetime="{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}">{{ dateFormat "2006-01-02 15:04" .Date.Local }}</time>{{ end }}
                {{ if ne .PublishDate .Lastmod }}, {{ i18n "updatedOn" . }}
                <time datetime="{{ .Date.Format .Site.Params.dateformNumTime }}">{{ .Lastmod.Format "2006-01-02 15:04" }}</time>{{ end }}
            </p>
    
            {{- if .GitInfo }}
            <p><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank"
                    rel="noopener" title="Commit message: {{ .GitInfo.Subject}}">{{ .GitInfo.AbbreviatedHash }}</a> @
                {{ if .Site.Params.dateformNum }}<time datetime="{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}">{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}</time>{{ else }}<time datetime="{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}">{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}</time>{{ end }}
            </p>
            {{- end }}
        </div>-->

    
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-12 pt-5 cutoff">

                {{ range .Param "authors" }}
                {{ $name := . }}
                {{ $path := printf "/%s/%s" "team-members" ($name | urlize) }}
                {{ with $.Site.GetPage $path }}
                <div class="author-wrapper background-indigo-50 px-3 py-3 mx-5 d-flex flex-column">
                    <h4 class="pb-2">Author</h4>
                    <img class="pb-3" src="{{ .Site.BaseURL }}/img/about-us/team-members/{{ .Params.image }}" alt="">
                    <a href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer">{{ .Params.name }}</a>
                    <p class="position">{{ .Params.position }}</p>
                    <p class="desc" >{{ .Params.bio }}</p>
                </div>
               
                {{ end }}
                {{ end }}

    </div>
    </div>

        </div>
    </div>
</main>

{{ end }}
