<div class="container-fluid  d-flex justify-content-center align-items-center py-5 max-h-500" id="content">
    <div class="container  py-5 banner">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-12 ">
                {{if not .IsHome}}<p class="mb-0 fw-normal text-uppercase ">{{ .Params.Title }}</p>{{end}}
                <h1>{{ .Params.Subtitle }}</h1>
                <p class="mb-0 mt-4 fw-normal">{{ .Params.Description }}</p>
                {{if .IsHome}} <a href= '{{ "/request-a-demo/" | absLangURL }}'  class="bnt main-bnt mt-4">{{ i18n "requestDemo" }}</a> {{end}}
            </div>
            <div class="col-xl-7 col-lg-6 col-12 d-lg-flex d-block justify-content-lg-end justify-content-center align-items-start">
                {{ if eq .Params.Show_event "on"}}
                <div class="news-wrapper mt-5 p-4">
                    <p class="news-date text-md-start">{{ .Params.Event_date }}</p>
                    <h2 class="news-title w-md-75">{{ .Params.Event_title }}</h2>
                    <a href="{{ .Params.Event_link }}" class="news-link" target="_blank">{{ i18n "homeEventLink" }} ></a>
                 </div>
                 {{ end }}
            </div>
        </div>
    </div>
</div>


