<!-- Footer -->
<footer class="text-center text-md-start ">
  
  {{ if eq .Params.cta "on"}}
  {{ partial "cta.html" .}}
  {{ end }}

  
  
    <!-- Section: Links  -->
    <section>
      <div class="container-lg text-center text-md-start background-indigo-50 p-sm-0">
        <!-- Grid row -->
        <div class="row p-5">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 me-auto mb-4">
            <!-- Content -->
            <h2 class="text-uppercase fw-bold mb-4">
              <img src="/img/logo-footer.svg" alt="Querylla footer logo">
            </h2>
            <p>{{ i18n "footerDesc" }}</p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-4 mb-5 d-flex align-items-center justify-content-md-start justify-content-center">
            <div class="logo-footer-wrapper w-75 d-flex justify-content-evenly">
             <a href="https://www.bmbf.de/" target="_blank" > <img src="/img/footer_supporter1.svg" alt="" class="logo-footer1" width="120"> </a>
             <a href="https://www.athene-center.de/en/start-up-consultancy/startupsecure" target="_blank"> <img src="/img/footer_supporter2.svg" alt="" class="logo-footer2" width="110"> </a> 
            </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             <!-- Links -->
             {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
             {{- range .Site.Menus.footer1 -}}
             
                 <p>
                   <a href="{{ .URL | absLangURL }}" class="text-reset {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{end}} text-decoration-none" {{ if eq
                       ($firstUrlElement|lower) (.URL|lower) }}aria-current="page" {{end}}>{{ .Name }}</a>
                 </p>
             {{ end }}
            </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
              {{- range .Site.Menus.footer2 -}}
              
                  <p>
                    <a href="{{ .URL | absLangURL }}" class="text-reset {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{end}} text-decoration-none" {{ if eq
                        ($firstUrlElement|lower) (.URL|lower) }}aria-current="page" {{end}}>{{ .Name }}</a>
                  </p>
              {{ end }}
          </div>
          <div class="col-md-2 col-lg-2 col-xl-1 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            {{- with .Site.Params.social }}
            {{ partial "social-icons.html" . }}
            {{- end }}
          </div>
         
           
          
          <!-- Grid column -->
        </div>
         <!-- Copyright -->
        <div class="row p-5">
          <div class="col-12">
            <p class="mb-0">
              <!-- Links -->
              {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
              {{- range .Site.Menus.footer3 -}}
              
                 
                    <a href="{{ .URL | absLangURL }}" class="text-reset {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{end}} text-decoration-none  me-3" {{ if eq
                        ($firstUrlElement|lower) (.URL|lower) }}aria-current="page" {{end}}>{{ .Name }}</a>
                  
              {{ end }}
            </p>
          </div>
        </div>
         <!-- Copyright -->
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    
  </footer>
  <!-- Footer -->

{{ partial "javascript.html" . }}