<li class="nav-item ms-lg-4 lang-list">
    
    
        <a class="dropdown__title nav-link lang-ref " aria-expanded="false" aria-controls="language-dropdown">
        {{ range .AllTranslations }}
            {{ if eq $.Site.Language.LanguageName "English" }}
            {{ if eq .Language.LanguageName "Deutsch" }} English  {{ end }}{{end }}
            {{ if eq $.Site.Language.LanguageName "Deutsch" }}
            {{ if eq .Language.LanguageName "English" }} Deutsch {{ end }}{{ end }}
        {{ end }}
        <label class="drop-icon lang-label" for="Language">▾</label>
        </a>
        <input type="checkbox" id="Language">
        <ul class="language-list sub-menu" id="language-dropdown">                 
            {{ if .IsTranslated }}
                
                {{ range .Translations }}
                <li>
                     <a href="{{ .RelPermalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    
</li>

<script>

function validate(f){
    var f = f || window.event, // make this works in different browsers 
      checkNavbarL = document.getElementById("Language"),  // input
      checkboxNavbarL = document.querySelector(".lang-label");// label
      
      if ([checkNavbarL, checkboxNavbarL].indexOf(f.target) < 0 && checkNavbarL.checked) {
          checkNavbarL.checked = false;
          document.querySelector(".lang-list").style.background = "transparent";
          return false;
      }
    };
document.addEventListener("click", validate);
var storeDropdownL = document.querySelector(".sub-menu"); // unordered list dropdown-menu

storeDropdownL.addEventListener("click", function(d) {
  f.stopPropagation();
});
</script>
