<li class="nav-item ms-lg-4">
    
    <div class="dropdown">
        <button type="button" class="dropdown__title nav-link " aria-expanded="false" aria-controls="language-dropdown">
        {{ range .AllTranslations }}
            {{ if eq $.Site.Language.LanguageName "English" }}
            {{ if eq .Language.LanguageName "Deutsch" }} English  {{ end }}{{end }}
            {{ if eq $.Site.Language.LanguageName "Deutsch" }}
            {{ if eq .Language.LanguageName "English" }} Deutsch {{ end }}{{ end }}
        {{ end }}
        <span class="drop-icon" for="Language">▾</span>
        </button>
        <ul class="language-list sub-menu" id="language-dropdown-mobile">                 
            {{ if .IsTranslated }}
                
                {{ range .Translations }}
                <li>
                     <a href="{{ .RelPermalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    
</li>
 <script>

function validate(m){
var m = m || window.event, // make this works in different browsers 
  checkNavbarM = document.getElementById('Company'),  // input
  checkboxNavbarM = document.querySelector(".no-lang-label-m");// label
  
  if ([checkNavbarM, checkboxNavbarM].indexOf(m.target) < 0 && checkNavbarM.checked) {
      checkNavbarM.checked = false;
      document.querySelector(".drop-list").style.background = "transparent";
      return false;
  }
};
document.addEventListener("click", validate);
var storeDropdownM = document.querySelector(".sub-menu-m"); // unordered list dropdown-menu

storeDropdownM.addEventListener("click", function(m) {
//   m.stopPropagation();
});


 </script>