<li class="nav-item ms-lg-4 lang-list">
    
    
        <a class="dropdown__title nav-link lang-ref " aria-expanded="false" aria-controls="language-dropdown">
        {{ range .AllTranslations }}
            {{ if eq $.Site.Language.LanguageName "English" }}
            {{ if eq .Language.LanguageName "Deutsch" }} English  {{ end }}{{end }}
            {{ if eq $.Site.Language.LanguageName "Deutsch" }}
            {{ if eq .Language.LanguageName "English" }} Deutsch {{ end }}{{ end }}
        {{ end }}
        <label class="drop-icon lang-label" for="Language">▾</label>
        </a>
        <input type="checkbox" id="Language">
        <ul class="language-list sub-menu" id="language-dropdown">                 
            {{ if .IsTranslated }}
                
                {{ range .Translations }}
                <li>
                     <a href="{{ .RelPermalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    
</li>
