{{ define "main" }}
<div class="container-fluid" >
    <div class="container features">
        {{ $features := where .Site.RegularPages "Type" "feature"}}
        <div class="row pt-lg-5 pt-0 pb-5 my-5 grid-divider g-5">
            {{ range $features }}
            <div class="col-xl-4 col-lg-4 col-md-6 col-12  d-flex  justify-content-center position-relative" >
                <div class="icon-wrapper">
                    <span class="zoom-wrapper" >
                        <img class="img-fluid" src="{{ .Site.BaseURL }}/img/home/feature/{{ .Params.image }}"  alt="{{ .Title }}">
                    </span>
                </div>
                <div class="content-wrapper">
                    <a class="title mt-3 mb-0" aria-label="Project name: {{ .Title }}">{{ .Title }}</a>
                    <p class="fearure-desc mt-2 pe-3">{{ .Params.summary}}</p></div>
                </div>

            
            {{ end }}
            
        </div>
      
    </div>
    </div>
<div class="container-fluid banner2-true" >    
    <div class="container counters">
        <div class="row pt-lg-5 pt-0 pb-5 my-5 align-items-start">
            <div class="col-xl-4 col-lg-4 col-12  d-flex flex-column justify-content-center position-relative" >
                <h2 class="my-lg-0 my-5 mx-lg-0 mx-auto">{{ i18n "didYouKnow" }}</h2>         </div>
                {{ $counters := where .Site.RegularPages "Type" "counter"}}
            <div class="col-xl-7 col-lg-7 col-12  d-flex flex-column justify-content-center position-relative ms-6" >
                {{ range $counters }}
                <div class="row background-indigo-50 w-100 m-auto p-2 mb-3 d-flex align-items-center">
                    <div class="col-xl-2 col-lg-2 col-12"><h1 class="mb-0">{{.Title}}</h1> </div>
                    <div class="col-xl-6 col-lg-6 col-12"><p class="mb-0">{{.Params.summary}}</p></div>
                </div>
                <div class="row">
                   <p>{{ .Content }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" >  
    <div class="container supporters pb-lg-5 mb-lg-5">
    <h2 class="text-center my-5">{{ i18n "supportersTitle" }}</h2>
            <div class="row justify-content-between align-items-center">
                {{ $supporters := where .Site.RegularPages "Type" "supporters"}}
                {{ range first 4 (where $supporters "Params.home" true) }}
                <div class="col-xl-3 col-lg-3 col-md-6 col-12 my-5 d-flex justify-content-center">
                    <a href="{{ .Page.Params.link }}"  target="_blank" rel="noopener noreferrer"><img loading="lazy"  class="img-fluid dim" src="/img/home/supporter/{{ .Page.Params.image }}" alt="{{ .Page.Params.name }}"></a>
                </div>
                {{ end }}
            </div>
    </div>
</div>
<div class="container-fluid" >  
    
            <div class="container publications py-lg-5 my-lg-5">
                <h2 class="text-center my-5">{{ i18n "featuredPublication" }}</h2>
                        <div class="row w-100">
                            {{ $publications := where .Site.RegularPages "Type" "publications" }}
                            {{ range first 1 ($publications) }}  
                            <div class="pub-articles-wrapper py-3 m-3 row d-flex flex-column-reverse flex-md-row" >
                                <div class="col-md-10 col-12">
                                    <div class="row mb-3">
                                        <a class="pub-articles-title">{{ .Title }}</a>   
                                    </div>
                                    <div class="row mb-2">
                                        <span class="pub-articles-content">
                                            {{ $content := .Content }}
                                            {{ $content | safeHTML }}
                                        </span>   
                                    </div>
                                    <div class="row d-inline">
                                        <img src="{{ .Site.BaseURL }}/img/svg/authors.svg" alt="" class="pe-0 pub-icons">     
                                        <span class="authors ps-1">{{ .Params.Authors}}</span>&nbsp;                
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 mb-3 d-flex flex-column justify-content-start align-items-md-end align-items-center">
                                    <div class="row pub-date"> <img src="{{ .Site.BaseURL }}/img/svg/calendar.svg" alt="" class="pub-icons2 ps-0" >{{ .Params.Publication_date }}</div>                     
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <a href='{{ "/publications/" | absLangURL }}' class="see-all text-center py-5">{{ i18n "allPublication" }} →</a>
                        </div>
                </div>



    </div>

{{ end }}