# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes


Header set Access-Control-Allow-Origin 'https://queryella.de'

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.queryella\.de [NC]
RewriteRule ^(.*)$ https://queryella.de/$1 [L,R=301]
